IMAGE_LIST = mxp ipl ipl_cust uboot kernel rootfs miservice customer

FLASH_TYPE = nor
BENCH = no
PHY_TEST = no
PAT_TABLE  = spi
BOOT_TYPE = fastboot

TFTPDOWNLOADADDR:=0x21000000
KERNELBOOTADDR:=0x20500000
INITRAMFSLOADADDR:=0x21000000

USR_MOUNT_BLOCKS:=miservice customer
ENV_CFG = /dev/mtd0 0x5D000 0x3000 0x60000

ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/fastboot/IPL.bin
ipl$(PATSIZE) = 0x10000

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/fastboot/IPL_CUST.bin
ipl_cust$(PATSIZE) = 0x10000

mxp$(RESOUCE) = $(IMAGEDIR)/boot/MXP_SF.bin
mxp$(PATSIZE) = 0x10000
mxp$(BOOTTAB) = "$(ipl$(PATSIZE))(IPL),$(ipl_cust$(PATSIZE))(IPL_CUST),$(mxp$(PATSIZE))(MXPT),$(uboot$(PATSIZE))(UBOOT),0x1000(UBOOT_ENV)"
mxp$(SYSTAB) = "$(kernel$(PATSIZE))(KERNEL),$(rootfs$(PATSIZE))(rootfs),$(miservice$(PATSIZE))(miservice),$(customer$(PATSIZE))(customer)"

uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/uboot/u-boot.xz.img.bin
uboot$(PATSIZE) = 0x2D000

kernel$(RESOUCE)   = $(PROJ_ROOT)/release/$(PRODUCT)/$(CHIP)/$(BOARD)/$(TOOLCHAIN)/$(TOOLCHAIN_VERSION)/bin/kernel/$(FLASH_TYPE)/uImage.mz
kernel$(PATSIZE)   = 0x00200000
kernel$(BOOTENV)   = $(KERNEL_BOOT_ENV) loglevel=0
kernel$(BOOTCMD)   = sf read $(KERNELBOOTADDR) \$${sf_kernel_start} \$${sf_kernel_size}\;

rootfs$(RESOUCE)   = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)    = ramfs
rootfs$(PATSIZE)   = 0x00500000
rootfs$(BOOTENV)   = rootfstype=ramfs initrd=$(INITRAMFSLOADADDR),$(rootfs$(PATSIZE))
rootfs$(BOOTCMD)   = mxp r.info rootfs\; sf read $(INITRAMFSLOADADDR) \$${sf_part_start} \$${sf_part_size}\;

miservice$(RESOUCE)   = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)    = squashfs
miservice$(PATSIZE)   = 0x00100000
miservice$(MOUNTTG)   = /config
miservice$(MOUNTPT)   = /dev/mtdblock3

customer$(RESOUCE)   = $(OUTPUTDIR)/customer
customer$(FSTYPE)    = squashfs
customer$(PATSIZE)   = 0x00030000
customer$(MOUNTTG)   = /customer
customer$(MOUNTPT)   = /dev/mtdblock4
